In [16]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from scipy import stats
import seaborn as sns
import math

In [17]:
os.chdir('D:\\Moji fajlovi\\Master\\prog\\Project 5 - Agriculture Data Analysis')

In [30]:
data = pd.read_csv('database_biosense.csv',header=0, delimiter=';',skiprows=1)
data.head(25)

,Parcel,Area,Year,Crop,Seed production,Variety,Previous crop,Seed units,Manure,Fertiliser amount,...,Irrigation,Harvest,Seed,Fertiliser,Pesticide,Yield,Price,Revenue,Planting date,Harvest date
0,G-1/1,"63,38",2018,Maize,0,NS 205,Maize,184,0,"237,719575",...,9000,"11853,74",9450,"5037,277795","15202,25308","7,811454718","14,4","112484,9479",15.6.2018,15.10.2018
1,G-1/2,"23,01",2018,Barley,0,Salamandre,Maize,46,0,"238,6363636",...,0,"11762,74","8594,30605","7079,225979",1435,"7,146352313","15,8","112912,3665",28.9.2017,5.6.2018
2,G-2/1,"94,88",2018,Soybean,0,Gorstak,Maize,"100,33",0,"214,6331148",...,9000,"11549,5","10191,21689","7146,257137","11843,41404","3,388877141","37,35","126574,5612",19.4.2018,13.9.2018
3,G-2/2,"20,59",2018,Soybean,0,Wendy,Maize,"93,15",0,"140,8450704",...,0,"11571,08","5428,848956","4776,056338","12594,37882","3,71296746","37,35","138679,3346",17.4.2018,14.9.2018
4,G-3/1,"63,62",2018,Maize,0,DKC 5830,Wheat,60,"1,886199308","474,6934926",...,9000,"12801,04","19899,77051","19745,51399","4947,696479","14,60232631","14,4","210273,4989",17.4.2018,14.9.2018
5,G-3/2,"17,8",2018,Maize,0,DKC 5830,Wheat,14,"2,134831461","264,0449438",...,0,"12801,04","16595,81236","8427,921348","6112,939326","13,63539326","14,4","196349,6629",17.4.2018,14.9.2018
6,G-4/1,"63,32",2018,Soybean,0,Galeb,Maize,"74,22615287",0,"307,6437145",...,9000,"11571,08","7447,109918","10072,50158","11048,21854","3,975837018","37,35","148497,5126",13.4.2018,16.9.2018
7,G-4/2,"24,71",2018,Soybean,0,Galeb,Maize,"80,93889114",0,"273,7353298",...,0,"11571,08","7447,109918","10072,50158","11048,21854","4,068798057","37,35","151969,6074",13.4.2018,16.9.2018
8,G-5/1,"76,88",2018,Maize,0,DKC 5830,Soybean,"0,949531738",0,"386,4854318",...,9000,"12801,04","20071,65544","7823,860562","9002,979318","16,76378772","14,4","241398,5432",13.4.2018,16.9.2018
9,G-5/2,"20,98",2018,Maize,0,DKC 5830,Soybean,"0,81029552",0,"266,920877",...,0,"12801,04","19877,95148","8530,79123","7781,716397","11,23164919","14,4","161735,7483",13.4.2018,16.9.2018
10,G-6/1,"50,26",2018,Soybean,1,Galina OS,Maize,"81,90171794",0,"206,7518977",...,9000,"11538,58","11308,85386","6970,445465","11352,67779","4,088693568","51,7","211385,4575",15.4.2018,25.8.2018
11,G-6/2,"14,19",2018,Soybean,1,Galina OS,Maize,"77,51937984",0,"324,1719521",...,0,"11538,58","7844,96124","10662,86117","10919,03453","3,907681466","51,7","202027,1318",15.4.2018,25.8.2018
12,G-7/1,"50,13",2018,Maize,0,DKC 5031,Soybean,"0,919448331",0,"599,6402159",...,9000,"12801,04","19441,54187","16636,26744","5467,360983","15,46472117","14,4","222691,9848",11.4.2018,19.9.2018
13,G-7/2,"22,62",2018,Maize,0,DKC 5031,Soybean,"0,795755968",0,"243,1476569",...,0,"12801,04","16826,09284","7789,964633","5436,820955","12,40274094","14,4","178599,4695",11.4.2018,19.9.2018
14,G-8/1,"78,49",2018,Maize,0,Kolumbaris,Soybean,"3,158971736",0,"397,9537025",...,9000,"12801,04","18234,09029","11473,29377","5414,310654","15,67208083","14,4","225677,9639",22.4.2018,20.9.2018
15,G-8/2,"22,21",2018,Maize,0,Kolumbaris,Soybean,"2,756086357",0,"266,4216812",...,0,"12801,04","18234,09029","8504,088195","5992,470831","12,35920992","14,4","177972,6229",22.4.2018,20.9.2018
16,B-5,"4,98",2018,Maize,0,DKC 5007,Sunflower,"0,602409639",0,0,...,0,"12801,04","13431,58",0,"5889,200803","9,012048193","14,4","129773,494",30.4.2018,22.9.2018
17,C-1,"82,45",2018,Maize,0,DKC 5276,Sunflower,"0,897513645",0,"288,6597938",...,0,"12801,04","17111,94021","9201,916313","6642,37356","11,05421468","14,4","159180,6913",11.4.2018,12.9.2018
18,C-1-1,"17,69",2018,Wheat,0,Pilis + Szilard,Sunflower,"226,11645",0,"589,0333522",...,0,"12158,74","8893,159977","18498,59808","11861,31628","5,459581685","20,8","113559,299",26.10.2017,2.7.2018
19,C-2,"199,11",2018,Wheat,0,Ingenio,Sunflower,"252,6442428",0,"401,4236303",...,0,"12158,74","13132,44774","10523,63828","9362,289889","6,719735325","20,8","139770,4948",8.10.2017,26.6.2018
20,C-3,"230,53",2018,Sunflower,0,Kondi,Maize,"0,468485663",0,"130,1349065",...,0,"9647,26","11331,49699","4291,068408","6377,955364","4,337353056","28,5","123614,5621",9.4.2018,22.8.2018
21,C-4,"208,37",2018,Wheat,0,Sofru + Avenue,Sunflower,"213,4892256",0,"291,1922462",...,0,"12158,74","4370,94194","8007,922744","5538,406182","7,329490919","20,8","152453,4111",12.10.2017,2.7.2018
22,C-5,"8,33",2018,Wheat,0,Sofru,Maize,"234,2136855",0,"370,9483794",...,0,"12158,74","10860,4886","9728,919568","5340,047419","7,164465786","20,8","149020,8884",11.10.2017,2.7.2018
23,C-6,"81,08",2018,Sunflower,0,P64LE25,Wheat,"0,764676862",0,"129,5017267",...,0,"9647,26","8460,537741","3987,358165","9324,474593","3,655278737","28,5","104175,444",17.4.2018,22.8.2018
24,C-7,"34,61",2018,Wheat,0,Sosthene,Maize,"208,2128398",0,"433,7767496",...,0,"12158,74","9307,113939","12497,22383","9899,211972","7,89","20,8","164132,3308",10.10.2017,24.6.2018

In [19]:
def comma_to_dot(x):
    y = x.split(',')
    return float('.'.join(y))

In [11]:
type(data.loc[1,'Area'])

str

In [31]:
data['Area'] = data['Area'].apply(comma_to_dot)
data

,Parcel,Area,Year,Crop,Seed production,Variety,Previous crop,Seed units,Manure,Fertiliser amount,...,Irrigation,Harvest,Seed,Fertiliser,Pesticide,Yield,Price,Revenue,Planting date,Harvest date
0,G-1/1,63.3800,2018,Maize,0,NS 205,Maize,184,0,"237,719575",...,9000,"11853,74",9450,"5037,277795","15202,25308","7,811454718","14,4","112484,9479",15.6.2018,15.10.2018
1,G-1/2,23.0100,2018,Barley,0,Salamandre,Maize,46,0,"238,6363636",...,0,"11762,74","8594,30605","7079,225979",1435,"7,146352313","15,8","112912,3665",28.9.2017,5.6.2018
2,G-2/1,94.8800,2018,Soybean,0,Gorstak,Maize,"100,33",0,"214,6331148",...,9000,"11549,5","10191,21689","7146,257137","11843,41404","3,388877141","37,35","126574,5612",19.4.2018,13.9.2018
3,G-2/2,20.5900,2018,Soybean,0,Wendy,Maize,"93,15",0,"140,8450704",...,0,"11571,08","5428,848956","4776,056338","12594,37882","3,71296746","37,35","138679,3346",17.4.2018,14.9.2018
4,G-3/1,63.6200,2018,Maize,0,DKC 5830,Wheat,60,"1,886199308","474,6934926",...,9000,"12801,04","19899,77051","19745,51399","4947,696479","14,60232631","14,4","210273,4989",17.4.2018,14.9.2018
5,G-3/2,17.8000,2018,Maize,0,DKC 5830,Wheat,14,"2,134831461","264,0449438",...,0,"12801,04","16595,81236","8427,921348","6112,939326","13,63539326","14,4","196349,6629",17.4.2018,14.9.2018
6,G-4/1,63.3200,2018,Soybean,0,Galeb,Maize,"74,22615287",0,"307,6437145",...,9000,"11571,08","7447,109918","10072,50158","11048,21854","3,975837018","37,35","148497,5126",13.4.2018,16.9.2018
7,G-4/2,24.7100,2018,Soybean,0,Galeb,Maize,"80,93889114",0,"273,7353298",...,0,"11571,08","7447,109918","10072,50158","11048,21854","4,068798057","37,35","151969,6074",13.4.2018,16.9.2018
8,G-5/1,76.8800,2018,Maize,0,DKC 5830,Soybean,"0,949531738",0,"386,4854318",...,9000,"12801,04","20071,65544","7823,860562","9002,979318","16,76378772","14,4","241398,5432",13.4.2018,16.9.2018
9,G-5/2,20.9800,2018,Maize,0,DKC 5830,Soybean,"0,81029552",0,"266,920877",...,0,"12801,04","19877,95148","8530,79123","7781,716397","11,23164919","14,4","161735,7483",13.4.2018,16.9.2018
10,G-6/1,50.2600,2018,Soybean,1,Galina OS,Maize,"81,90171794",0,"206,7518977",...,9000,"11538,58","11308,85386","6970,445465","11352,67779","4,088693568","51,7","211385,4575",15.4.2018,25.8.2018
11,G-6/2,14.1900,2018,Soybean,1,Galina OS,Maize,"77,51937984",0,"324,1719521",...,0,"11538,58","7844,96124","10662,86117","10919,03453","3,907681466","51,7","202027,1318",15.4.2018,25.8.2018
12,G-7/1,50.1300,2018,Maize,0,DKC 5031,Soybean,"0,919448331",0,"599,6402159",...,9000,"12801,04","19441,54187","16636,26744","5467,360983","15,46472117","14,4","222691,9848",11.4.2018,19.9.2018
13,G-7/2,22.6200,2018,Maize,0,DKC 5031,Soybean,"0,795755968",0,"243,1476569",...,0,"12801,04","16826,09284","7789,964633","5436,820955","12,40274094","14,4","178599,4695",11.4.2018,19.9.2018
14,G-8/1,78.4900,2018,Maize,0,Kolumbaris,Soybean,"3,158971736",0,"397,9537025",...,9000,"12801,04","18234,09029","11473,29377","5414,310654","15,67208083","14,4","225677,9639",22.4.2018,20.9.2018
15,G-8/2,22.2100,2018,Maize,0,Kolumbaris,Soybean,"2,756086357",0,"266,4216812",...,0,"12801,04","18234,09029","8504,088195","5992,470831","12,35920992","14,4","177972,6229",22.4.2018,20.9.2018
16,B-5,4.9800,2018,Maize,0,DKC 5007,Sunflower,"0,602409639",0,0,...,0,"12801,04","13431,58",0,"5889,200803","9,012048193","14,4","129773,494",30.4.2018,22.9.2018
17,C-1,82.4500,2018,Maize,0,DKC 5276,Sunflower,"0,897513645",0,"288,6597938",...,0,"12801,04","17111,94021","9201,916313","6642,37356","11,05421468","14,4","159180,6913",11.4.2018,12.9.2018
18,C-1-1,17.6900,2018,Wheat,0,Pilis + Szilard,Sunflower,"226,11645",0,"589,0333522",...,0,"12158,74","8893,159977","18498,59808","11861,31628","5,459581685","20,8","113559,299",26.10.2017,2.7.2018
19,C-2,199.1100,2018,Wheat,0,Ingenio,Sunflower,"252,6442428",0,"401,4236303",...,0,"12158,74","13132,44774","10523,63828","9362,289889","6,719735325","20,8","139770,4948",8.10.2017,26.6.2018
20,C-3,230.5300,2018,Sunflower,0,Kondi,Maize,"0,468485663",0,"130,1349065",...,0,"9647,26","11331,49699","4291,068408","6377,955364","4,337353056","28,5","123614,5621",9.4.2018,22.8.2018
21,C-4,208.3700,2018,Wheat,0,Sofru + Avenue,Sunflower,"213,4892256",0,"291,1922462",...,0,"12158,74","4370,94194","8007,922744","5538,406182","7,329490919","20,8","152453,4111",12.10.2017,2.7.2018
22,C-5,8.3300,2018,Wheat,0,Sofru,Maize,"234,2136855",0,"370,9483794",...,0,"12158,74","10860,4886","9728,919568","5340,047419","7,164465786","20,8","149020,8884",11.10.2017,2.7.2018
23,C-6,81.0800,2018,Sunflower,0,P64LE25,Wheat,"0,764676862",0,"129,5017267",...,0,"9647,26","8460,537741","3987,358165","9324,474593","3,655278737","28,5","104175,444",17.4.2018,22.8.2018
24,C-7,34.6100,2018,Wheat,0,Sosthene,Maize,"208,2128398",0,"433,7767496",...,0,"12158,74","9307,113939","12497,22383","9899,211972","7,89","20,8","164132,3308",10.10.2017,24.6.2018
25,C-8,53.4100,2018,Wheat,0,Simonida,Oilseed rape,"283,423457",0,"406,4889055",...,0,"12158,74","7652,43334","11107,62633","6786,407235","6,258437442","20,8","130175,4988",8.10.2017,24.6.2018
26,C-9,78.0500,2018,Oilseed rape,0,Immient,Wheat,"0,2814739",0,"622,185261",...,0,"11795,42","4582,786336","23320,29811","16743,61809","4,41223132",36,"158840,3275",5.9.2017,26.6.2018
27,C-10,117.2300,2018,Oilseed rape,0,Immient,Wheat,"0,281593993",0,"611,7842819",...,0,"11795,42","4584,741616","22743,71533","16266,75578","4,164775151",36,"149931,9055",2.9.2017,25.6.2018
28,C-11,25.1800,2018,Oilseed rape,0,Immient,Wheat,"0,278219396",0,"540,1430843",...,0,"11795,42","4529,79849","22198,26312","17905,16137","3,820349762",36,"137532,5914",10.9.2017,21.6.2018
29,C-12,30.0700,2018,Oilseed rape,0,Immient,Wheat,"0,29930163",0,"599,6009312",...,0,"11795,42","1624,348853","22388,88261","16579,58796","3,259394746",36,"117338,2108",6.9.2017,26.6.2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Z-1,64.0000,2016,Maize,0,Kolumbaris,NaN,"2,70","0,00","386,30",...,0,"8708,00","15543,24","20499,48","5999,01","10,63","15,14","160927,3181",NaN,NaN
168,Z-2,32.8303,2016,Maize,0,Kolumbaris,NaN,"2,65","0,00","385,77",...,0,"11701,76","15237,71","20381,60","6124,60","12,52","15,14","189534,9991",NaN,NaN
169,Z-3,51.1207,2016,Maize,0,Kolumbaris,NaN,"2,74","0,00","457,84",...,0,"11701,76","15747,32","23881,83","7833,88","11,04","15,14","167126,1123",NaN,NaN
170,1,7.2623,2016,Sunflower,0,Kondi,NaN,"0,41","0,00","399,05",...,0,"11634,00","10299,13","21047,69","3744,95","3,00","30,68","91922,13486",NaN,NaN
171,108M,111.6157,2016,Sunflower,0,Neoma,NaN,"0,49","0,00","466,58",...,0,"8708,00","12571,15","27399,28","10634,99","3,32","30,68","101859,2151",NaN,NaN
172,18/3,38.7600,2016,Wheat,0,Nogal,NaN,"206,40","0,00","499,85",...,0,"8673,24","10437,56","21224,72","10777,05","6,75","15,06","101633,2415",NaN,NaN
173,106M,123.3963,2016,Sunflower,0,Neoma,NaN,"0,50","0,00","371,19",...,0,"11286,50","12818,20","20272,25","10799,92","3,45","30,68","105897,9052",NaN,NaN
174,112M,83.4127,2016,Sunflower,0,Neoma,NaN,"0,50","0,00","369,36",...,0,"8673,24","12845,61","20080,32","6532,96","3,11","30,68","95474,57018",NaN,NaN
175,116,1.4579,2016,Sunflower,0,Kondi,NaN,"0,69","0,00","480,14",...,0,"8673,24","17101,16","22837,22","7380,79","3,42","30,68",105020,NaN,NaN
176,117,7.8000,2016,Sunflower,0,Kondi,NaN,"0,51","0,00","342,82",...,0,"8719,00","12785,53","16994,57","4669,06","3,42","30,68",105020,NaN,NaN
177,120,22.4600,2016,Sunflower,0,Ferti,NaN,"0,45","0,00","339,94",...,0,"8719,00","11100,53","16227,37","10284,38","2,54","30,68","78018,17453",NaN,NaN
178,127-128,11.4000,2016,Sunflower,0,Kondi,NaN,"0,44","0,00","342,63",...,0,"8673,24","10934,99","17010,45","7110,77","2,55","30,68","78174,79298",NaN,NaN
179,167B,3.7704,2016,Sunflower,0,LG 56.35,NaN,"0,53","0,00","264,16",...,0,"8708,00","10012,00","12917,14","3840,31","7,75","30,68","237781,3919",NaN,NaN
180,173,58.5727,2016,Wheat,0,Nogal,NaN,"182,68","0,00","487,28",...,0,"8719,00","9238,11","21844,33","11080,19","7,42","15,06","111730,1757",NaN,NaN
181,174-178,59.1800,2016,Wheat,0,Nogal,NaN,"194,32","0,00","471,53",...,0,"8719,00","9826,884082","24163,30341","11031,81544","7,91","15,06","119152,8979",NaN,NaN
182,182,44.0000,2016,Sunflower,0,Ferti,NaN,"0,45","0,00","361,45",...,0,"10120,76","11332,62727","18123,36295","14463,67023","3,26","30,68","100133,2445",NaN,NaN
183,184,29.6103,2016,Sunflower,0,Ferti,NaN,"0,44","0,00","329,34",...,0,"8673,24","10945,95935","16679,14712","16441,56814","2,56","30,68","78492,16504",NaN,NaN
184,189,30.8000,2016,Maize,0,Kerbanis,NaN,"2,82","0,00","384,97",...,0,"8673,24","16709,08442","18397,26883","5939,251364","12,51","15,14","189404,8409",NaN,NaN
185,190,125.0944,2016,Wheat,0,Ingenio,NaN,"242,38","0,00","576,28",...,0,11718,"11789,21518","26324,23166","10763,21477","9,04","15,06","136203,1512",NaN,NaN
186,191-192,113.8000,2016,Wheat,0,Basmati,NaN,"248,68","0,00","575,37",...,0,"11286,5","12553,21353","26415,02355","10375,34721","9,26","15,06","139463,9373",NaN,NaN
187,195-196,13.5600,2016,Sunflower,0,P64LC108,NaN,"0,81","0,00","276,47",...,0,"10120,76","7289,20354","13196,52212","8992,34882","1,99","30,68","61151,84661",NaN,NaN
188,197,74.9778,2016,Sunflower,0,P64LC108,NaN,"0,91","0,00","314,39",...,0,8719,"8149,356209","15689,91915","6635,918053","3,44","30,68","105499,6594",NaN,NaN
189,232-1,15.9087,2016,Maize,0,Kerbanis,NaN,"2,83","0,00","358,67",...,0,8719,"16732,54257","16931,15968","6413,019417","12,56","15,14","190215,8768",NaN,NaN
190,232,74.5000,2016,Wheat,0,NaN,NaN,NaN,0,"501,81",...,0,11718,"10603,4353","20601,94893","9359,677349","8,23","15,06","123911,4001",NaN,NaN
191,233,90.0000,2016,Wheat,0,Ingenio,NaN,"235,5555556",0,"515,98",...,0,"11293,76","11457,42222","27944,47166","10812,29586","8,34","15,06","125540,4947",NaN,NaN
192,234,105.6700,2016,Wheat,0,Basmati,NaN,"244,1563358",0,"580,49",...,0,"11286,5","12324,76767","23922,10301","11260,53741","8,97","15,06","135035,7672",NaN,NaN
193,244,37.0000,2016,Barley,0,Paso,NaN,"159,4594595",0,"458,24",...,0,"11286,5","6831,243243","19548,58716","10737,18343","8,87","14,68","130199,6973",NaN,NaN
194,284,16.4005,2016,Sunflower,0,LG 56.35,NaN,"0,365842505",0,"320,66",...,0,"11266,48","6905,141916","15116,12878","4205,29636","3,29","30,68","101087,5181",NaN,NaN
195,286,44.0479,2016,Sunflower,0,LG 56.35,NaN,"0,4313486",0,"283,55",...,0,8719,"8141,545227","14007,11657","4483,476707","2,94","30,68","90098,32659",NaN,NaN
196,ED Backa,3.5600,2016,Sunflower,0,Kondi,NaN,"0,561797753",0,"353,37",...,0,8719,"14006,60112","17702,57584","6483,146067","7,31","30,68","224144,9775",NaN,NaN

In [32]:
l = list(data)[7:23]
for i in l:
    data[i] = data[i].apply(comma_to_dot)
data

AttributeError: 'float' object has no attribute 'split'

In [29]:
type(data.loc[1,'Manure'])

str